@import "../../scss/colors";

.icon-and-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    min-width: 50%;

    .icon {
        width: 15%;
    }

    .text {
        font-size: 36px;
        margin-left: 20px;
        color: $c-main-font;
        text-shadow: $text-shadow;
        font-weight: 600;
    }
}