@import "../../scss/colors";

.header {
    height: 70px;
    margin: 0;
    box-shadow: $header-shadow;
    background: $c-header-background;

    &-title {
      padding-top: 17px;
      margin: 0;
      color: $c-secondary-font;
    }
}