$c-main-font: #F7FFFF;
$c-secondary-font: #666565;
$c-search-background: #d2e3ee;
$c-transparent-background: rgba(215, 215, 215, 0.6);
$c-header-background: #f5f5f5;

$box-shadow: 5px 8px 13px -2px rgba(100, 100, 100, 0.6);
$header-shadow: 0 9px 9px rgba(0, 0, 0, 0.20);